<!DOCTYPE html>
<html>
  {% include head.html %}
  <head>
    <!-- Global site tag (gtag.js) - AdWords: 1009791370 -->
    <script async src=""https://www.googletagmanager.com/gtag/js?id=AW-1009791370""></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-1009791370');
    </script>
    <!-- Google Tag Manager Tag -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6T2RXG');</script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6T2RXG"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
  <div id="header" style="
  background-image: url('https://images.plot.ly/excel/plotlyjs/plotlyjs-banner-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  background-position: center top;
  width: 100%;
  height: 350px;
  position: relative;
  ">

  {% include header.html %}
  <div style="
    background-image: linear-gradient(0deg, rgba(100,91,158, 0.89)  0%, rgba(58,124,187, 0.89) 100%);
    width: 100%;
    height: 100%;
  "></div>

    <!-- Lang Banner -->
    {% include lang-splash-banner.html %}

</div>

    <!-- sitemap -->
    {% include navigation-bar.html %}

    <div class="allcontent">

      <div class="sectionseparator_white">
        <div class="container">



          {{ content }}

        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
